<section id="section-hero">
  <div class="hero-container">
    <div class="hero-title">
      <div>
        <h1>Get the best<br />crypto wallet<br />experience</h1>

        <p class="color-gray paragraph-lg">
          Store all your cryptocurrencies<br />in one place with an intuitive
          app.
        </p>

        <a class="button-fill"
          ><img src="assets/icons/apple.svg" alt="apple logo" /> Get the app for
          iPhone</a
        >
      </div>
    </div>

    <div class="hero-img">
      <img
        src="assets/img/hero.png"
        alt="iPhone with an app of crypto wallet"
      />
    </div>
  </div>

  <div class="features-list">
    <div class="feature-item">
      <div>
        <img src="assets/icons/wallet.png" alt="3d wallet icon" />
      </div>

      <div class="feature-info">
        <h4 class="feature-title color-gray-dark">Crypto wallet</h4>
        <p class="color-gray-light paragraph-md">
          Connect all your crytocurrencies<br />and pay where you want.
        </p>
      </div>
    </div>

    <div class="feature-item">
      <div>
        <img src="assets/icons/lock.png" alt="3d wallet icon" />
      </div>

      <div class="feature-info">
        <h4 class="feature-title color-gray-dark">Security</h4>
        <p class="color-gray-light paragraph-md">
          All transactions are encrypted with<br />SHA-256.
        </p>
      </div>
    </div>
  </div>
</section>
